html {
  overflow-y: hidden;
}

body {
  background: #000;
}

.post {
  margin: 4em auto;
  border-radius: 10px;
}

.post-user {
	font-size: 30px;
}

.post h5 {
  font-size: 24px;
}

.animate {
  -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
  top: 0;
  max-height: 500px;
}

.animate.ng-enter,
.animate.ng-leave.ng-leave-active {
  top: -500px;
  max-height: 0;
}
